<?xml version="1.0"?>
<robot name="caramelo" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Argumentos -->
  <xacro:arg name="robot_name" default="caramelo"/>
  <xacro:arg name="prefix" default=""/>

  <!-- Includes -->
  <xacro:include filename="common_properties.xacro"/>
  <xacro:include filename="lidar_sensor.xacro"/>
  <xacro:include filename="mobile_base.xacro"/>
  <xacro:include filename="mobile_base.ros2_control.xacro"/>

  <!-- Base movel completa (base_link + footprint + 4 rodas) -->
  <xacro:mobile_base prefix="$(arg prefix)"/>

  <!-- Sensor lidar -->
  <xacro:lidar_sensor
    prefix="$(arg prefix)"
    parent="base_link"
    frame_id="laser_frame"
    xyz_offset="0.292 0 0.077"
    rpy_offset="0 0 0"
    mesh_xyz_offset="0 0 0"
    mesh_rpy_offset="0 0 0"
    topic_name="scan"/>

</robot>
